<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Security</title>
</head>
<body>
<main>
    <!--/*@thymesVar id="user" type="edu.poly.lab6.entity.User"*/-->
    <h3 th:if="${user.username.isEmpty()}">
        <i style="color: red">Chưa đăng nhập</i>
    </h3>
    <th:block th:if="${!user.username.isEmpty()}">
        <h3 style="color: blue">Authentication Information</h3>
        <ul>
            <li>Username: <b th:text="${user.username}"></b></li>
            <li>Roles: <b th:text="${user.getRoles}"></b></li>
        </ul>
    </th:block>
</main>
</body>
</html>